.property-card {
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

.property-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.property-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #dcdcdc;
    margin-bottom: 10px;
}

.slds-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}
