.property-card {
    border: 1px solid #b07f0f;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    box-shadow: 0 4px 8px 0 #3b2c0a;
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f3ea;
}

.property-card:hover {
    box-shadow: 0 8px 16px 0 #3b2c0a;
}

.property-image {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #b07f0f;
    margin-bottom: 10px;
}

.slds-col {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}