.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;

  }

  h1{
    font-family: "Bebas Neue", sans-serif;
    font: larger;
  }
  
  .form{
    font-family: "Bebas Neue", sans-serif;
  }